/* This code is only meant for previewing your Reflow design. */
@font-face{ 
    font-family: 'Candela';
    src: url('fonts/CandelaBook-webfont.eot');
    src: url('fonts/CandelaBook-webfont.eot?iefix') format('embedded-opentype'),
         url('fonts/CandelaBook-webfont.woff') format('woff'),
         url('fonts/CandelaBook-webfont.ttf') format('truetype'),
         url('fonts/CandelaBook-webfont.svg#Candela') format('svg');
    font-weight: normal;
    font-style: normal;
     }

.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 226, 177);
    position: relative;
}

#Wrapper {
    float: none;
    height: 6.844627%;
    margin-left: auto;
    margin-top: 2px;
    clear: none;
    width: 82.994026%;
    position: static;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#footer {
    float: none;
    height: 100%;
    clear: none;
    width: 64.675102%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    margin-bottom: 0px;
    min-height: 0px;
}

#logo {
    float: none;
    height: 100%;
    clear: none;
    width: 99.929284%;
    position: static;
    top: 0px;
    left: 0px;
    min-height: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#menu {
    float: none;
    height: 100%;
    clear: none;
    width: 100.015715%;
    min-height: 0px;
    position: relative;
    top: 50px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#logo1 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#facebook {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 140px;
    display: block;
    opacity: 1;
}

#screenshot {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 70px;
    display: block;
}

#home {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
}

#box {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 210px;
    margin-right: auto;
    position: relative;
    top: 0px;
    left: 0px;
}

#tablea {
    float: none;
    height: 100%;
    clear: none;
    width: 90%;
    position: relative;
    min-width: 0px;
    min-height: 0px;
    top: 120px;
    left: 0px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
}

#image {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    z-index: 0;
}

#get_now_a {
    float: left;
    width: 24.521073%;
    max-width: 100%;
    height: 24.5%;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: auto;
    left: auto;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    display: block;
}

#get_now_a:hover {
    opacity: 1;
    display: block;
}

#text {
    float: none;
    font-size: 140%;
    width: 75%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 170px;
    clear: none;
    min-height: 27px;
    margin-right: auto;
    font-family: Candela;
    color: rgb(87, 56, 92);
    padding-top: 30px;
    padding-bottom: 20px;
}

#tableb {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 55px;
    clear: none;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    min-height: 0px;
}

#image1 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#get_now_b:hover {
    opacity: 1;
    display: block;
}

#get_now_b {
    float: left;
    width: 24.521074%;
    max-width: 100%;
    height: 24.5%;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: auto;
    left: auto;
    z-index: 1;
    display: block;
    bottom: 0px;
    right: 0px;
}

#image2 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    margin-bottom: 0px;
}

#text1 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    font-family: Candela;
    color: rgb(87, 56, 92);
}

#text2 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    max-width: 730px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#image3 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    display: block;
}

#text3 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    max-width: 730px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#image4 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    display: block;
}

#text4 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    margin-bottom: 80px;
    display: block;
    text-decoration: underline;
}

#home:active {
    opacity: 0.8;
}

#screenshot:active {
    opacity: 0.5;
}

#facebook:active {
    opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
    #image2 {
        max-width: 50%;
    }

    #image3 {
        max-width: 50%;
    }

    #image4 {
        max-width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    #text {
        font-size: 110%;
    }

    #text1 {
        font-size: 110%;
    }

    #text2 {
        font-size: 110%;
    }

    #text3 {
        font-size: 110%;
    }

    #text4 {
        font-size: 110%;
    }

    #image2 {
        max-width: 50%;
    }

    #image3 {
        max-width: 50%;
    }

    #image4 {
        max-width: 50%;
    }
}

@media only screen and (max-width: 568px) {
    #text {
        font-size: 90%;
    }

    #text1 {
        font-size: 90%;
    }

    #text2 {
        font-size: 90%;
    }

    #text3 {
        font-size: 90%;
    }

    #text4 {
        font-size: 90%;
    }

    #image2 {
        max-width: 50%;
    }

    #image3 {
        max-width: 50%;
    }

    #image4 {
        max-width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    #Wrapper {
        margin-top: 2px;
        margin-left: auto;
        clear: none;
        width: 95.874023%;
        margin-right: auto;
    }

    #logo1 {
        width: 62%;
    }

    #menu {
        width: 100.02%;
    }

    #box {
        width: 210px;
    }

    #footer {
        width: 90%;
    }

    #image2 {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #image3 {
        max-width: 50%;
    }

    #image4 {
        max-width: 50%;
    }
}

