/* This code is only meant for previewing your Reflow design. */
@font-face{ 
    font-family: 'Candela';
    src: url('CandelaBook-webfont.eot');
    src: url('CandelaBook-webfont.eot?iefix') format('eot'),
         url('CandelaBook-webfont.woff') format('woff'),
         url('CandelaBook-webfont.ttf') format('truetype'),
         url('CandelaBook-webfont.svg#Candela') format('svg');
     }
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 226, 177);
    position: relative;
}

#Wrapper {
    float: none;
    height: 6.844627%;
    margin-left: auto;
    margin-top: 2px;
    clear: none;
    width: 82.994026%;
    position: static;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#footer {
    float: none;
    height: 100%;
    clear: none;
    width: 64.675102%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    margin-bottom: 0px;
    min-height: 0px;
}

#logo {
    float: none;
    height: 100%;
    clear: none;
    width: 99.929284%;
    position: static;
    top: 0px;
    left: 0px;
    min-height: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#menu {
    float: none;
    height: 100%;
    clear: none;
    width: 100.015715%;
    min-height: 0px;
    position: relative;
    top: 50px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#logo1 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#facebook {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 140px;
    display: block;
}

#screenshot {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 70px;
    opacity: 0.8;
}

#home {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}

#box {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 210px;
    margin-right: auto;
    position: relative;
    top: 0px;
    left: 0px;
}

#_1 {
    float: none;
    height: 100%;
    clear: none;
    width: 90%;
    position: relative;
    min-width: 0px;
    min-height: 0px;
    top: 0px;
    left: 0px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
}

#screen_1 {
    float: left;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 0px;
    z-index: 0;
}

#image4 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    margin-bottom: 0px;
}

#text {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    font-family: Candela;
    color: rgb(87, 56, 92);
}

#text1 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    max-width: 730px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#image5 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    display: block;
}

#text2 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    max-width: 730px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#image6 {
    float: none;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    display: block;
}

#text3 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    margin-bottom: 80px;
    display: block;
    text-decoration: underline;
}

#_2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    min-height: 0px;
    max-width: 730px;
}

#image {
    float: left;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 0px;
}

#_3 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    min-height: 0px;
    max-width: 730px;
}

#image1 {
    float: left;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 0px;
}

#_4 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    min-height: 0px;
    max-width: 730px;
}

#image2 {
    float: left;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 0px;
}

#_5 {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    max-width: 730px;
    min-height: 0px;
}

#image3 {
    float: left;
    width: auto;
    max-width: 40%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 0px;
}

#challenge_anyone_you_want4 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: auto;
    margin-top: 115px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    margin-right: auto;
    position: relative;
    max-width: 730px;
    min-width: 0px;
    max-height: none;
    margin-bottom: auto;
    display: block;
}

#textspan1 {
    float: none;
    font-size: 160%;
    line-height: 1.3em;
}

#facebook:active {
    opacity: 0.5;
}

#home:active {
    opacity: 0.5;
}

#challenge_anyone_you_want3 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: auto;
    margin-top: 180px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    max-width: 730px;
    min-width: 0px;
    max-height: none;
    margin-bottom: auto;
    display: block;
    margin-right: auto;
}

#challenge_anyone_you_want2 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: auto;
    margin-top: 160px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    max-width: 730px;
    min-width: 0px;
    max-height: none;
    margin-bottom: auto;
    display: block;
    margin-right: auto;
}

#textspan {
    float: none;
    font-size: 160%;
    line-height: 1.3em;
}

#challenge_anyone_you_want1 {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: auto;
    margin-top: 155px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    max-width: 730px;
    min-width: 0px;
    max-height: none;
    margin-bottom: auto;
    display: block;
    margin-right: auto;
}

#challenge_anyone_you_want {
    float: none;
    font-size: 140%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: auto;
    margin-top: 230px;
    clear: none;
    min-height: 0px;
    font-family: Candela;
    color: rgb(87, 56, 92);
    position: relative;
    max-width: 730px;
    min-width: 0px;
    max-height: none;
    margin-bottom: auto;
    display: block;
    margin-right: auto;
}

@media only screen and (max-width: 1024px) {
    #image4 {
        max-width: 50%;
    }

    #image5 {
        max-width: 50%;
    }

    #image6 {
        max-width: 50%;
    }

    #challenge_anyone_you_want4 {
        float: none;
        clear: none;
    }

    #challenge_anyone_you_want3 {
        float: none;
        clear: none;
    }

    #challenge_anyone_you_want2 {
        float: none;
        clear: none;
    }

    #challenge_anyone_you_want1 {
        float: none;
        clear: none;
    }

    #challenge_anyone_you_want {
        float: none;
        clear: none;
    }
}

@media only screen and (max-width: 768px) {
    #text {
        font-size: 110%;
    }

    #text1 {
        font-size: 110%;
    }

    #text2 {
        font-size: 110%;
    }

    #text3 {
        font-size: 110%;
    }

    #image4 {
        max-width: 50%;
    }

    #image5 {
        max-width: 50%;
    }

    #image6 {
        max-width: 50%;
    }

    #challenge_anyone_you_want4 {
        font-size: 110%;
    }

    #textspan1 {
        font-size: 150%;
    }

    #challenge_anyone_you_want3 {
        font-size: 110%;
        margin-top: 140px;
    }

    #challenge_anyone_you_want2 {
        font-size: 110%;
        margin-top: 120px;
    }

    #textspan {
        font-size: 150%;
    }

    #challenge_anyone_you_want1 {
        font-size: 110%;
        margin-top: 120px;
    }

    #challenge_anyone_you_want {
        font-size: 110%;
        margin-top: 170px;
    }
}

@media only screen and (max-width: 568px) {
    #text {
        font-size: 90%;
    }

    #text1 {
        font-size: 90%;
    }

    #text2 {
        font-size: 90%;
    }

    #text3 {
        font-size: 90%;
    }

    #image4 {
        max-width: 50%;
    }

    #image5 {
        max-width: 50%;
    }

    #image6 {
        max-width: 50%;
    }

    #challenge_anyone_you_want4 {
        font-size: 90%;
        margin-top: 66px;
        clear: none;
    }

    #textspan1 {
        font-size: 140%;
    }

    #challenge_anyone_you_want3 {
        font-size: 90%;
        margin-top: 96px;
        clear: none;
    }

    #challenge_anyone_you_want2 {
        font-size: 90%;
        margin-top: 86px;
        clear: none;
    }

    #textspan {
        font-size: 140%;
    }

    #challenge_anyone_you_want1 {
        font-size: 90%;
        margin-top: 86px;
        clear: none;
    }

    #challenge_anyone_you_want {
        font-size: 90%;
        margin-top: 126px;
        clear: none;
    }
}

@media only screen and (max-width: 320px) {
    #Wrapper {
        margin-top: 2px;
        margin-left: auto;
        clear: none;
        width: 95.874023%;
        margin-right: auto;
    }

    #logo1 {
        width: 62%;
    }

    #menu {
        width: 100.02%;
    }

    #box {
        width: 210px;
    }

    #footer {
        width: 90%;
    }

    #image4 {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #image5 {
        max-width: 50%;
    }

    #image6 {
        max-width: 50%;
    }

    #textspan1 {
        font-size: 110%;
    }

    #challenge_anyone_you_want4 {
        margin-top: 16px;
    }

    #challenge_anyone_you_want3 {
        margin-top: 36px;
    }

    #challenge_anyone_you_want2 {
        margin-top: 26px;
    }

    #textspan {
        font-size: 110%;
    }

    #challenge_anyone_you_want1 {
        margin-top: 26px;
    }

    #challenge_anyone_you_want {
        margin-top: 66px;
    }
}

