/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

body {
    background-image:url("img/bkg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#wrapper {
    float: left;
    height: 100%;
    clear: none;
    width: 97.601399%;
    position: fixed;
    top: auto;
    left: 262.953125px;
    bottom: -350px;
    min-height: 0px;
}

#header {
    float: left;
    height: 7.798703%;
    clear: none;
    width: 97.600411%;
    position: fixed;
    top: 0px;
    left: 1.199794%;
    bottom: auto;
}

#box {
    float: left;
    height: 72.828711%;
    clear: none;
    width: 97.601399%;
    position: fixed;
    top: 8.2%;
    left: 1.198806%;
    bottom: auto;
}

#screenshot {
    float: left;
    font-size: 100%;
    width: 14.615821%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.615659%;
    margin-top: 30px;
    clear: none;
    min-height: 40px;
    color: rgb(255, 254, 210);
    text-decoration: none;
    display: block;
    font-family: ocr-a-std;
}

#htp {
    float: none;
    font-size: 100%;
    width: 14.615821%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 30px;
    clear: none;
    min-height: 40px;
    color: rgb(255, 254, 210);
    margin-right: auto;
    text-decoration: underline;
    display: block;
    font-family: ocr-a-std;
}

#facebook {
    float: right;
    font-size: 100%;
    width: 14.616833%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: -40px;
    clear: none;
    min-height: 40px;
    color: rgb(255, 254, 210);
    margin-right: 25.615659%;
    display: block;
    font-family: ocr-a-std;
}

#screenshot:hover {
    text-shadow: rgb(255, 254, 210) 0px 0px 5px;
}

#facebook:hover {
    text-shadow: rgb(255, 254, 210) 0px 0px 5px;
}

#fungo_logo:hover {
    opacity: 1;
}

#download_button:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 1;
    width: 11.64%;
    left: 44.502425%;
    right: auto;
    bottom: 40.754438%;
}

#text {
    float: left;
    font-size: 200%;
    width: 48.764138%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 6.971512%;
    color: rgb(255, 254, 210);
    position: absolute;
    top: 2.727983%;
    left: 25.616412%;
    font-family: ocr-a-std;
    min-width: 0%;
}

#text1 {
    float: left;
    font-size: 90%;
    width: 65.846472%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 144px;
    position: absolute;
    top: 18.295484%;
    left: 17.07727%;
    font-family: ocr-a-std;
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 254, 210);
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(159, 214, 174);
}

#image {
    float: left;
    width: auto;
    max-width: 6.15%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 42.001942%;
    left: 21.481009%;
    overflow: visible;
}

#text2 {
    float: left;
    font-size: 80%;
    width: 14.612635%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 12.427479%;
    position: absolute;
    top: 77.096308%;
    left: 16.946647%;
    font-family: ocr-a-std;
}

#text3 {
    float: left;
    font-size: 80%;
    width: 14.748322%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 12.427479%;
    color: rgb(255, 254, 210);
    position: absolute;
    top: 77.096308%;
    left: 34.022905%;
    font-family: ocr-a-std;
}

#text4 {
    float: left;
    font-size: 80%;
    width: 14.612635%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 12.427479%;
    position: absolute;
    top: 77.096308%;
    left: 51.099163%;
    font-family: ocr-a-std;
}

#text5 {
    float: left;
    font-size: 80%;
    width: 14.612635%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 12.427479%;
    position: absolute;
    top: 77.096308%;
    left: 68.17542%;
    font-family: ocr-a-std;
}

#image1 {
    float: left;
    width: auto;
    max-width: 10%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 41.784082%;
    left: 36.492603%;
    overflow: visible;
    bottom: auto;
}

#image2 {
    float: left;
    width: auto;
    max-width: 15%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 47.573942%;
    left: 51.228774%;
    overflow: visible;
}

#image3 {
    float: left;
    width: auto;
    max-width: 10%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 41.784082%;
    left: 70.570187%;
    overflow: visible;
    max-height: none;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 254, 210);
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 254, 210);
}

#textspan5 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 254, 210);
}

#textspan2 {
    float: none;
    font-size: 110%;
    line-height: 1em;
    color: rgb(255, 254, 210);
}

#footer {
    float: left;
    height: 169px;
    clear: none;
    width: 97.601232%;
    position: fixed;
    top: auto;
    left: 0%;
    bottom: 0px;
    margin: 741px 0% 0% 1.265405%;
    right: auto;
}

#rocket {
    float: left;
    width: 2.926352%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    position: fixed;
    top: auto;
    left: 75.426945%;
    bottom: 6.2%;
    display: block;
    z-index: 1;
}

#fungo_logo {
    float: left;
    width: 10.439398%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: auto;
    left: 45.1%;
    bottom: 2.4%;
    z-index: 3;
    display: block;
    right: auto;
}

#hearth {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0px;
    right: auto;
    min-width: 0px;
    display: block;
}

#download_button {
    float: left;
    width: 11.139464%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: auto;
    left: 44.797368%;
    bottom: 40.800666%;
    right: auto;
    box-shadow: rgb(0, 0, 0) 0px 0px;
    z-index: 11;
    display: block;
}

#box1 {
    float: left;
    height: 16px;
    margin-left: 0%;
    margin-top: 176.28125px;
    clear: none;
    width: 100%;
    background-color: rgb(253, 253, 253);
    visibility: hidden;
}

@media only screen and (max-width: 1024px) {
    #image3 {
        top: 44.44576%;
        left: 68.099243%;
        height: auto;
        width: auto;
        max-width: 14.823963%;
    }

    #text {
        width: 48.768057%;
        font-size: 175%;
        top: 7px;
        left: 25.615971%;
        height: auto;
    }

    #text1 {
        width: 65.84485%;
        top: 17.234602%;
        left: 16.945469%;
        font-size: 90%;
        height: auto;
        min-height: 101px;
        line-height: 110%;
    }

    #text2 {
        width: 14.616034%;
        font-size: 80%;
        top: 78.005636%;
        left: 16.945469%;
        line-height: 110%;
    }

    #text3 {
        width: 14.616034%;
        font-size: 80%;
        top: 78.005636%;
        left: 34.162967%;
        line-height: 110%;
    }

    #text4 {
        width: 14.616034%;
        font-size: 80%;
        top: 78.005636%;
        left: 51.099056%;
        line-height: 110%;
    }

    #text5 {
        width: 14.616034%;
        font-size: 80%;
        top: 78.005636%;
        left: 68.174286%;
        line-height: 110%;
    }

    #image2 {
        top: 53.082005%;
        left: 51.099056%;
        height: auto;
        width: auto;
        max-width: 15.727597%;
    }

    #image1 {
        top: 44.44576%;
        left: 34.763304%;
        height: auto;
        width: auto;
        max-width: 14%;
        bottom: auto;
    }

    #image {
        top: 43.955576%;
        left: 19.334313%;
        height: auto;
        width: auto;
        max-width: 9.233319%;
    }

    #rocket {
        width: 2.92511%;
    }

    #fungo_logo {
        left: 45.4%;
        right: auto;
        width: 10.438538%;
    }

    #hearth {
        width: 100%;
    }

    #box1 {
        visibility: hidden;
    }

    #textspan2 {
        font-size: 110%;
    }
}

@media only screen and (max-width: 768px) {
    #screenshot {
        margin-top: 30px;
        margin-left: 19.311265%;
        clear: none;
        width: 14.614775%;
    }

    #htp {
        width: 21.66889%;
        height: auto;
        margin-top: 30px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
    }

    #facebook {
        margin-right: auto;
        margin-top: -40px;
        clear: none;
        width: 14.614775%;
        margin-left: 66.19%;
        float: none;
    }

    #download_button:hover {
        width: 25.24%;
        left: 37.02%;
        right: auto;
    }

    #text1 {
        font-size: 80%;
        height: auto;
        min-height: 89px;
        top: 19.204812%;
        left: 16.944948%;
        width: 65.974611%;
    }

    #text {
        width: 65.645259%;
        font-size: 26px;
        top: 37px;
        left: 17.278469%;
        height: auto;
    }

    #text2 {
        width: 14.614471%;
        font-size: 75%;
        top: 68.912359%;
        left: 16.944948%;
    }

    #text3 {
        width: 14.614471%;
        font-size: 75%;
        top: 68.912359%;
        left: 34.02122%;
    }

    #text4 {
        width: 14.614471%;
        font-size: 75%;
        top: 68.912359%;
        left: 51.097492%;
    }

    #text5 {
        width: 14.614471%;
        font-size: 75%;
        top: 68.912359%;
        left: 68.173764%;
    }

    #fungo_logo {
        bottom: 1.1%;
        top: auto;
        width: 13.94%;
        left: 43.3%;
        right: auto;
    }

    #download_button {
        width: 23.34%;
        left: 37.82%;
        right: auto;
    }

    #box1 {
        visibility: hidden;
    }
}

@media only screen and (max-width: 568px) {
    #screenshot {
        font-size: 70%;
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        width: 14.614279%;
        position: absolute;
        top: 0px;
        left: 19.310014%;
    }

    #htp {
        font-size: 70%;
        margin-top: 0px;
        clear: none;
        width: 21.666338%;
        position: absolute;
        margin-left: 0px;
        margin-right: 0px;
        top: 0px;
        left: 40.624031%;
    }

    #facebook {
        font-size: 70%;
        width: 14.614279%;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        float: right;
        clear: none;
        position: absolute;
        top: 0%;
        left: 68.5%;
        right: auto;
        bottom: auto;
    }

    #download_button:hover {
        width: 23.54%;
        right: 204.734375px;
        left: auto;
        top: 17.463026%;
    }

    #text {
        height: auto;
        top: 5.362798%;
        left: 9.766065%;
        width: 82.925592%;
        font-size: 18px;
    }

    #text1 {
        width: 82.925592%;
        font-size: 60%;
        top: 15.715816%;
        left: 9.766065%;
        height: auto;
    }

    #text2 {
        width: 31.840474%;
        font-size: 60%;
        top: 56.268629%;
        left: 18.303269%;
        height: auto;
    }

    #text3 {
        width: 31.578354%;
        font-size: 60%;
        top: 56.268629%;
        left: 52.457723%;
        height: auto;
    }

    #text4 {
        width: 31.826381%;
        font-size: 60%;
        top: 88.375559%;
        left: 18.249718%;
        height: auto;
        min-height: 49.234375px;
    }

    #text5 {
        width: 31.688275%;
        font-size: 60%;
        top: 88.375559%;
        left: 52.288613%;
        height: auto;
        min-height: 49px;
    }

    #image2 {
        top: 75.652012%;
        left: 23.534386%;
        height: auto;
        width: auto;
        max-width: 21.149944%;
    }

    #image3 {
        top: 71.965816%;
        left: 60.27903%;
        height: auto;
        width: auto;
        max-width: 15.952649%;
    }

    #image1 {
        top: 37.073864%;
        left: 59.357384%;
        height: auto;
        width: auto;
        max-width: 18.449831%;
    }

    #box {
        width: 100%;
        height: 671px;
        position: relative;
        top: 0px;
        left: 0px;
        margin-top: 3.28%;
        margin-left: 0%;
        clear: both;
    }

    #image {
        left: 28.537204%;
        top: 37.765462%;
        height: auto;
        width: auto;
        max-width: 10.837091%;
    }

    #header {
        width: 99.997182%;
        height: 3.885617%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-top: 3.607666%;
        margin-left: 0%;
        clear: none;
    }

    #wrapper {
        width: 97.601232%;
        height: auto;
        bottom: auto;
        top: 0px;
        left: 0px;
        position: relative;
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
    }

    #footer {
        height: auto;
        position: relative;
        bottom: auto;
        top: 0px;
        left: 0px;
        width: 97.598647%;
        margin: -1.8% 0% 0% 2.409808%;
        clear: both;
    }

    #rocket {
        width: 3.06977%;
        position: absolute;
        bottom: 30px;
        top: auto;
        left: 76.715375%;
    }

    #fungo_logo {
        width: 25.242578%;
        left: 37.056717%;
        bottom: 14px;
        top: auto;
        position: absolute;
        clear: none;
    }

    #hearth {
        position: absolute;
        bottom: 0px;
        top: auto;
        left: 0%;
        width: 100%;
        clear: none;
        right: auto;
        visibility: visible;
    }

    #download_button {
        width: 22.03708%;
        left: auto;
        right: 38.90782%;
        bottom: auto;
        top: 20.030879%;
    }

    #box1 {
        visibility: hidden;
        margin-top: 176.28125px;
        margin-left: 0%;
        clear: none;
        width: 100%;
        height: 16px;
    }
}

@media only screen and (max-width: 320px) {
    #screenshot {
        height: auto;
        margin-top: 0%;
        margin-left: 9.131751%;
        clear: none;
        width: 23.155051%;
        top: 0px;
        left: 0px;
        position: static;
    }

    #htp {
        width: 31.700605%;
        height: auto;
        margin-top: 0.00488329%;
        margin-left: 34.124426%;
        clear: none;
        z-index: 5;
        top: 0px;
        left: 0px;
        position: static;
        margin-right: 0px;
    }

    #facebook {
        width: 23.160054%;
        height: auto;
        margin-right: 9.483348%;
        z-index: 7;
        position: static;
        top: 0px;
        left: 0px;
        margin-top: -12.794218%;
        clear: none;
    }

    #download_button:hover {
        right: 97px;
        left: auto;
        width: 39.84%;
        margin-top: -49.677734%;
        margin-left: 29.711914%;
        clear: none;
    }

    #rocket {
        width: 6.616211%;
        bottom: auto;
        top: -280.4%;
        left: 76.708984%;
    }

    #fungo_logo {
        width: 35.634766%;
        bottom: auto;
        top: -156.25%;
        left: 31.99707%;
        position: absolute;
        clear: none;
    }

    #hearth {
        width: 100%;
        max-width: none;
        bottom: 16px;
        left: 0%;
        top: auto;
        right: auto;
    }

    #download_button {
        width: 36.235352%;
        left: 0px;
        right: auto;
        top: 0px;
        position: static;
        margin-top: -49.3%;
        margin-left: 31.274414%;
        clear: none;
    }

    #footer {
        margin-top: 69.2%;
        margin-left: 0%;
        clear: both;
        width: 100%;
        visibility: visible;
        display: block;
    }

    #text1 {
        width: 82.929758%;
        height: auto;
        top: 9.839925%;
        left: 8.510742%;
        bottom: auto;
    }

    #text {
        height: auto;
        top: 1.934734%;
        left: 8.510742%;
        width: 82.919752%;
    }

    #text2 {
        width: 65.434261%;
        top: 37.466161%;
        left: 17.363281%;
        height: auto;
        min-height: 30px;
        font-size: 70%;
        bottom: auto;
    }

    #text3 {
        width: 65.84951%;
        top: 57.700683%;
        left: 17.050781%;
        height: auto;
        min-height: 46px;
        font-size: 70%;
        bottom: auto;
    }

    #text4 {
        width: 65.434261%;
        top: 75.375177%;
        left: 17.050781%;
        height: auto;
        min-height: 29.234375px;
        font-size: 70%;
        bottom: auto;
    }

    #text5 {
        width: 65.434261%;
        top: 96.218809%;
        left: 17.045898%;
        height: auto;
        min-height: 33px;
        font-size: 70%;
        bottom: auto;
    }

    #box {
        clear: none;
        height: 1062px;
        width: 100%;
    }

    #header {
        height: auto;
        margin-top: 8.1%;
        width: 99.990234%;
    }

    #image {
        top: 25.519362%;
        left: 39.560547%;
        height: auto;
        width: auto;
        max-width: 20.672403%;
        bottom: auto;
    }

    #image1 {
        top: 45.056497%;
        left: 32.910156%;
        height: auto;
        width: auto;
        max-width: 33.910346%;
        bottom: auto;
    }

    #image2 {
        top: 68.426318%;
        left: 28.901367%;
        height: auto;
        width: auto;
        max-width: 44.991995%;
        bottom: auto;
    }

    #image3 {
        top: 84.664842%;
        left: 33.154297%;
        height: auto;
        width: auto;
        max-width: 33.440064%;
        bottom: auto;
    }

    #wrapper {
        width: 100%;
    }

    #box1 {
        float: left;
        height: 16px;
        margin-left: 0%;
        margin-top: 0%;
        clear: both;
        width: 100%;
        background-color: rgb(253, 253, 253);
        visibility: visible;
    }
}

